body {
    background-color: #f0f0f0;
    color: #333333;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 40px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  li:nth-child(odd) {
    background-color: #eaeaea;
  }
  
  li:nth-child(even) {
    background-color: #d5d5d5;
  }
  