body{
    font-family: 'Belanosima', sans-serif;
    background-color: #FFC95F;
    box-sizing: border-box;
}
form{
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF9C9;
  border-radius: 15px;
  outline: auto;
  outline-color: #862B0D;
  width: 350px;
  height: 270px;
  margin: 50px auto;
  padding: 20px;
}
input{
    border: none;
    outline: 0;
}
.campo{
    width: 300px;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-color: #B5C99A;
}
.campo:focus{
border-color: #862B0D;
}

.btn-c{
    width: 150px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.btn-c-color{
    background-color: #4CAF50;
  color: white;
}
.btn-c-color:hover{
    background-color: #45a049;
}
.btn-c-color:active{
    background-color: #3e8e41;
}