body {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.numeros {
    font-size: 18px;
}