body {
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #333333;
  }
  
  label {
    font-size: 18px;
    color: #666666;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FF6600;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #FF8533;
  }
  
  button:active {
    background-color: #CC5200;
  }
  