body{
    font-family: 'Leckerli One', cursive;
    background-color: #FDFFAE;
    box-sizing: border-box;
}
form{
    background-color: #C3EDC0;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
h3{
    text-align: center;
}
p{
    font-family: 'Segoe UI';
    text-align: center;
    font-weight: 600;
}
input{
    border: none;
    outline: none;

    width: 250px;
    height: 30px;
}
.campos{
    border-radius: 15px;
    border: 2px solid #5a7258;
    padding: 20px 20px;
    margin: 4 20px;
    background-color: #AAC8A7;
}
.campos:focus{
    border: 2px solid #88bd2c;
}
.btn{
        
        display: inline-block;
        padding: 0px 15px;
        margin: 0 25px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    .btn-color{
        color: white;
        background-color: #30160f;
    }
    .btn-color:hover{
        background-color: #a55038;
    }
    .btn-color:active{
        background-color:#cfada4;
    }

