body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #333;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  #temperatures {
    margin: 20px auto;
    max-width: 400px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .hour {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .min {
    color: #FF0000;
  }
  
  .max {
    color: #00FF00;
  }
  