body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  table {
    margin: 50px auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  thead {
    background-color: #333;
  }
  
  th {
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #444;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #555;
  }
  
  td:nth-child(2) {
    color: #ff6f00;
  }
  