body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #resultados {
    margin-top: 20px;
  }
  
  .numero {
    color: #ff6f00;
  }
  
  .retorno {
    color: #00bcd4;
  }
  