body{
    font-family: 'Segoe UI';
    background-color: 898121;
    box-sizing: border-box;
}
form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 15px;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}
input{
    border: 0;
    outline:none;
    width: 280;

}
.field{
    border: solid 1px #ccc;
    padding: 10px;
}
.field:focus{
    border-color: 4C4B16;
}
/* clases para los botones */
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn-green{
    color: white;
    background-color: 898121;
}
.btn-green:hover{
    background-color: 4C4B16;
}
.btn-green:active{
    background-color: E7B10A;
}
p{
    font-weight: bold;
}

