body{
    font-family: 'Press Start 2P', cursive;
    background-color: #64CCC5;
    box-sizing: border-box;
}
div{
    position:absolute;
      width: auto;
      height:auto;
      margin: 190px 565px;
}
.contenedor{
    position: absolute;
      text-align: center;
      background: #DAFFFB;
      width: 510px;
      height: 200px;
      border-radius: 5px;
      padding: 1px 20px 0 20px;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
}
h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-transform: uppercase;
    color: #001C30;
    margin-bottom: 30px;
}
input{
    border: 0;
    outline: none;
    width: 210px; 
}
.btn-g{
    font-family: 'Press Start 2P', cursive;
    border-radius: 20px;
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) ;
    box-shadow: 0 2px 0px rgba(13, 43, 36, 0.3);
}
.btn-g-color{
    color: white;
    background-color: #176B87;
}
.btn-g-color:hover{
    background-color: #001C30;
}
.btn-g-color:active{
    background-color: #DAFFFB;
}
